<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
    </head>
    <body>
        <form action="/es1">
            <input type = "submit" value = "es1">
        </form><br>
        <form action="/es2">
            <input type = "submit" value = "es2">
        </form><br>
        <form action="/es3" method="get">
            <label for="3">Inserire nome regione: </label>
            <input type = "text" name = "regione" id = "3"><br>
            <input type = "submit" value = "es3">
        </form><br>
        <form action="/es4" method="get">
            <label for="4">Inserire nome regione: </label>
            <input type = "text" name = "regione2" id = "4"><br>
            <input type = "submit" value = "es4">
        </form><br>
        <form action="/es5" method="get">
            <label for="5">Inserire nome regione: </label>
            <input type = "text" name = "regione3" id = "5"><br>
            <input type = "submit" value = "es5">
        </form><br>
        <form action="/es6" method="get">
            <label for="6">Inserire nome regione: </label>
            <input type = "text" name = "regione4" id = "6"><br>
            <input type = "submit" value = "es6">
        </form><br>
        <form action="/es7">
            <input type = "submit" value = "es7">
        </form><br>
        <form action="/es8">
            <input type = "submit" value = "es8">
        </form><br>
        <form action="/es9" method="get">
            <label for="9">Inserire nome regione: </label>
            <input type = "text" name = "regione5" id = "9"><br>
            <input type = "submit" value = "es9">
        </form><br>
    </body>
</html>